<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd" xmlns="http://maven.apache.org/SETTINGS/1.1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <servers>
    <server>
      <username>jfrogadmin</username>
      <password>{Nsvw6a448PgH3IXCF8GZkCSnMe35pJ72G6ltMHUqdTw=}</password>
      <id>central</id>
    </server>
    <server>
      <username>jfrogadmin</username>
      <password>{Nsvw6a448PgH3IXCF8GZkCSnMe35pJ72G6ltMHUqdTw=}</password>
      <id>snapshots</id>
    </server>
  </servers>
  <profiles>
    <profile>
      <repositories>
        <repository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>central</id>
          <name>iwayqweb-libs-release</name>
	  <url>https://valaxytech529.jfrog.io/artifactory/iwayqweb-libs-release</url>
        </repository>
	<repository>
         <snapshots />
         <id>snapshots</id>
             <name>iwayqweb-libs-snapshot</name>
	     <url>https://valaxytech529.jfrog.io/artifactory/iwayqweb-libs-snapshot</url>
   </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>central</id>
          <name>iwayqweb-libs-release</name>
	  <url>https://valaxytech529.jfrog.io/artifactory/iwayqweb-libs-release</url>
  </pluginRepository>
         <pluginRepository>
	<snapshots />
        <id>snapshots</id>
	<name>iwayqweb-libs-snapshot</name>
       <url>https://valaxytech529.jfrog.io/artifactory/iwayqweb-libs-snapshot</url>
       </pluginRepository>
       </pluginRepositories>
       <id>artifactory</id>
           </profile>
	     </profiles>
	       <activeProfiles>
		           <activeProfile>artifactory</activeProfile>
			     </activeProfiles>
		     </settings>

